{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <p>
        <strong>It is advisable to submit a few talk ideas, not just one.</strong> By submitting a single talk you may lessen your chances of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>APIs</li>
        <li>Architecture & Design</li>
        <li>Automation</li>
        <li>Big Data & Analytics</li>
        <li>Cloud Technologies</li>
        <li>Container Technology</li>
        <li>Continuous Delivery</li>
        <li>Database</li>
        <li>Development</li>
        <li>Devops</li>
        <li>Environmental Sustainability</li>
        <li>Frameworks-related topics</li>
        <li>IoT</li>
        <li>JavaScript</li>
        <li>Programming Languages</li>
        <li>Logging & Monitoring</li>
        <li>Microservices</li>
        <li>Mobile Development</li>
        <li>Professional Development</li>
        <li>Security</li>
        <li>Serverless</li>
        <li>ServiceMesh</li>
        <li>Testing</li>
        <li>UI/UX</li>
        <li>Other</li>
    </ul>
</div>
{% endblock %}