{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <p>
        <strong>It is advisable to submit a few talk ideas, not just one.</strong> By submitting a single talk you may lessen your chances of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Service Mesh : 101</li>
        <li>Service Mesh : Core development</li>
        <li>Service Mesh : Security</li>
        <li>Service Mesh : Performance</li>
        <li>Service Mesh : Scalability</li>
        <li>Service Mesh : Monitoring</li>
        <li>Service Mesh : for development team</li>
        <li>Service Mesh : for operations team</li>
        <li>Service Mesh : Deployment Processes</li>
        <li>Service Mesh : Enterprise implementations - Case studies</li>
        <li>Service Mesh : Public, private & multicloud</li>
        <li>Service Mesh : Community</li>
        <li>Other</li>
    </ul>
</div>
{% endblock %}