{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} is not limited to just web-related talks. There have been
        sessions covering a wide range of topics supporting culture and team work
        as well, and we encourage you to "think outside the box" to come up with your
        own unique topics.
    </p>
    <p>
        Due to financial constraints most conferences tend to pick speakers to present
        multiple talks. Therefore <strong>it is advisable to submit a few talk ideas, not just one.</strong>
        By submitting a single talk you may lessen your chances of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>APIs</li>
        <li>Virtualization, Automation and environments</li>
        <li>Javascript</li>
        <li>React Native, Xamarin,  Ionic, Flutter, Kotlin, etc</li>
        <li>Containers Technologies</li>
        <li>Development principles</li>
        <li>DevOps</li>
        <li>Databases</li>    
        <li>Cloud Technologies</li>    
        <li>Security</li>
        <li>Mobile Development</li>
        <li>Progressive Web Applications</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>Version control</li>
        <li>User Experience/Usability</li>
        <li>Building APIs (REST, SOAP, whatever)</li>
        <li>CD/CI</li>
        <li>GitOps</li>
        <li>Programming languages and framework-related topics</li>
        <li>Professional development</li>
        <li>IoT</li>
    </ul>
</div>
{% endblock %}